@page
@model WebApp.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form method="get">
    <div class="form-group">
        <label for="searchTerm">Search Term</label>
        <input type="text" id="searchTerm" name="searchTerm" value="@Model.SearchTerm" class="form-control" />
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" id="studentCheck" name="studentCheck" checked="@Model.StudentCheck">
        <label class="form-check-label" for="studentCheck">Student</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" id="teacherCheck" name="teacherCheck" checked="@Model.TeacherCheck">
        <label class="form-check-label" for="teacherCheck">Teacher</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" id="subjectCheck" name="subjectCheck" checked="@Model.SubjectCheck">
        <label class="form-check-label" for="subjectCheck">Subject</label>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-secondary">Reset</button> 
    <a class="btn btn-secondary" href="/">Back to Menu</a> 

</form>


@if (Model.Students != null)
{
    <h2>Students</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Total ECTS</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.TotalECTS</td>
            </tr>
        }

        </tbody>
    </table>
}
@if (Model.Teachers != null)
{
    <h2>Teachers</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Subjects</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var teacher in Model.Teachers)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Subjects</td>
            </tr>
        }

        </tbody>
    </table>
}
@if (Model.Subjects != null)
{
    <h2>Subjects</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>ECTS</th> 
        </tr>
        </thead>
        <tbody>
        @foreach (var subject in Model.Subjects)
        {
            <tr>
                <td>@subject.Name</td>
                <td>@subject.ECTS</td> 
            </tr>
        }

        </tbody>
    </table>
}