@page
@using Domain
@model WebApp.Pages.Game.ChangeNicknamesInNewGame

<h2>Input nicknames to players if you want</h2>

<form method="post">
    <div class="form-group">
        <label>What player you want to play as?</label>
        <select asp-for="PlayAsPlayerIndex">
            @for (int i = 0; i < Model.Engine.GameState.Players.Count; i++)
            {
                if (Model.Engine.GameState.Players[i].Type == EPlayerType.Human)
                {
                    <option value="@i">@Model.Engine.GameState.Players[i].Nickname</option>
                }
            }
        </select>
    </div>
    <table>
        @for (int i = 0; i < Model.Engine.GameState.Players.Count; i++)
        {
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="@Model.Engine.GameState.Players[i].Nickname" class="control-label"></label>
                        <input asp-for="@Model.Nicknames[i]" class="form-control" value="@Model.Engine.GameState.Players[i].Nickname"/>
                        <span asp-validation-for="@Model.Nicknames[i]" class="text-danger"></span>
                    </div>
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <input type="submit" value="Create game" class="btn btn-primary" />
    </div>
</form>