@page
@model WebApp.Pages.StudentSubjects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>StudentSubjects</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grade[0].Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade[0].StudentSubject)
        </th>
        <th>
            Average Grade
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Grade)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSubjectName)
            </td>
            <td>
                @Model.AverageGrades[item.StudentSubjectId]
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>