@page
@model WebApp.Pages.Exercises.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Subject.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Exercise?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
